<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ntut.weshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/weshare_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".member.MemberRegisterActivity"
            android:label="@string/tx_register"
            android:launchMode="singleTask" />
        <activity
            android:name=".member.MemberLoginActivity"
            android:label="@string/tx_login"
            android:launchMode="singleTask" />
        <activity
            android:name=".member.MemberUpdateOrgChooseActivity"
            android:label="@string/tx_updateOrg"
            android:launchMode="singleTask" />
        <activity
            android:name=".member.MemberUpdateIndActivity"
            android:label="@string/tx_updateInd"
            android:launchMode="singleTask" />
        <activity
            android:name=".member.MemberUpdateOrgActivity"
            android:label="@string/tx_update"
            android:launchMode="singleTask" />
        <activity
            android:name=".goods.GoodsInsertActivity"
            android:label="@string/text_GoodsInsert"
            android:launchMode="singleTask" />
        <activity
            android:name=".goods.GoodsBoxPageActivity"
            android:label="@string/text_GoodsBox"
            android:launchMode="singleTask" />
        <activity
            android:name=".goods.GoodsInfoActivity"
            android:label="@string/text_GoodsInfo"
            android:launchMode="singleTask" />
        <activity
            android:name=".goods.GoodsUpdateActivity"
            android:label="@string/text_GoodsUpdate"
            android:launchMode="singleTask" />
        <activity
            android:name=".member.MemberRegisterTypeActivity"
            android:label="@string/tx_register"
            android:launchMode="singleTask" />
        <activity
            android:name=".member.MemberRegisterIndActivity"
            android:label="@string/tx_registerInd"
            android:launchMode="singleTask" />
        <activity
            android:name=".member.MemberRegisterOrgActivity"
            android:label="@string/tx_registerOrg"
            android:launchMode="singleTask" />
        <activity
            android:name=".member.MamberRegisterOrgPageOneActivity"
            android:label="@string/tx_registerOrg"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".member.MamberRegisterOrgPageTwoActivity"
            android:label="@string/tx_registerOrg"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".message.MessageReplyActivity"
            android:label="@string/tx_replyMsg"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".HomeGoodsDetailActivity"
            android:label="@string/tx_goodsDetail"
            android:launchMode="singleTask"></activity>

        HomeGoodsDetailActivity

    </application>

</manifest>